<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Plan</title>
  </head>
  <body>
    <a href="/success">Home</a>
    <a href="/logout" method='POST'>Logout</a>

    id: {{request.session.id}}
    <h2>Add a Trip</h2>
    <form action="/table" method="post">
      {% csrf_token %}
      Destination: <input type="text" name="destination" value=""><br>
      Description: <input type="text" name="description" value=""><br>
      Travel Date From: <input type="date" name="date_from" value=""><br>
      Travel Date To: <input type="date" name="date_to" value=""><br><br>
      <input type="submit" name="" value="Add">
    </form>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
    </li>
      {% endfor %}
    </ul>
    {% endif %}

  </body>
</html>
